/* Body settings */
body {
    color: blue;
    background-color: #FFF9C4; /* 淺黃色 */
    font-family: Arial, Helvetica, sans-serif;
}

/* Heading settings */
h1 {
    font-family: "Trebuchet MS", sans-serif;
    margin-left: 14em;
    font-size: 2.5em;
}


/* Paragraph settings */
p {
    margin-left: 14em; /* 段落也移開 navbar */
}

/* Navbar settings */
.navbar {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 12em;
    list-style-type: none;
    padding: 0;
}

.navbar li {
    margin-bottom: 0.5em;
}

/* Drop-down label and select */
label, select {
    margin-left: 14em; /* 讓下拉選單區塊也避開 navbar */
    display: block;
    margin-top: 1em;
}

/* Media types */
@media all {
    body {
        border: 4px solid blue; /* 用來顯示 media all */
    }
}

@media print {
    body {
        color: black;
        background-color: white;
    }
    .navbar {
        display: none;
    }
}
